body, header, nav, main, footer, h1, div, img, ul{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Styles For body, img, header, nav, nav ul, nav li a, main, footer p, footer p a */
body {
    background-color: #000;
}

img{
    max-width: 100%;
    display: block;
}

/* Styles rules for moble viewport */

/* Style rule for header */
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    text-align: center;
    height: 190px;
}

header img{
    margin: 0 auto;
}

/* Style for navigation area */
nav{
    padding: 1%;
    margin-bottom: 1%;
}

nav ul{
    list-style-type: none;  /*No bullet on my list items*/
    text-align: center;
}

nav li{
    font-size: 1.5em;
    font-family: "Francois One", sans-serif;
    border-top: 1px solid #fff;
    text-align: center;
}

nav li:first-child{
    border-top: none;
}

nav li a{
    display: block;
    color: #4ECDC4;
    padding: 0.5em 1em;
    text-decoration: none; /*remove underline from link*/
}

.mobile{
    display: block;
}

.tablet-desktop{
    display: none;
}

main{
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.2em;
    font-family: "Roboto Slab", serif;
}

.tel-link{
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

/*Projects style*/
#CPP{
    width: 100%;
    text-align: left;
    display: block;
}

#CPP li{
    text-decoration: none; 
}

.external-link{
    font-size: 1.35em;
    font-weight: bold;
    text-decoration: none;
}

.round{
    border-radius: 8px;
}

/* Contact style*/
#contact .contact-email-link{
    text-align: center;
    text-decoration: none;
}

#contact a{
    color: red;
    text-decoration: none;
}

.map{
    border: 8px solid #000;
    width: 95%;
    height: 50%;
}

/* Footer */
footer p{
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a{
    color: #fff;
    text-decoration: none;
}


