body, header, nav, main, footer, h1, div, img, ul{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Styles For body, img, header, nav, nav ul, nav li a, main, footer p, footer p a */
body {
    background-color: #000;
}

img{
    max-width: 100%;
    display: block;
}

/* Styles rules for moble viewport */

/* Style rule for header */
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    text-align: center;
    height: 190px;
}

header img{
    margin: 0 auto;
}

/* Style for navigation area */
nav{
    padding: 1%;
    margin-bottom: 1%;
}

nav ul{
    list-style-type: none;  /*No bullet on my list items*/
    text-align: center;
}

nav li{
    font-size: 1.5em;
    font-family: "Francois One", sans-serif;
    border-top: 1px solid #fff;
    text-align: center;
}

nav li:first-child{
    border-top: none;
}

nav li a{
    display: block;
    color: #4ECDC4;
    padding: 0.5em 1em;
    text-decoration: none; /*remove underline from link*/
}

.mobile{
    display: block;
}

.tablet-desktop{
    display: none;
}

main{
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.2em;
    font-family: "Roboto Slab", serif;
}

.tel-link{
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.frame{
    position: relative;
    max-width: 450px;
    margin: 2% auto;
}

.pic-text{
    /* the following two rules will allow the figcaption text to overlay at the bottom of the image */
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

/*Projects style*/
#CPP{
    width: 100%;
    text-align: left;
    display: block;
}

#CPP li{
    text-decoration: none; 
}

.external-link{
    font-size: 1.35em;
    font-weight: bold;
    text-decoration: none;
}

.round{
    border-radius: 8px;
}

/* Contact style*/
#contact .contact-email-link{
    text-align: center;
    text-decoration: none;
}

#contact a{
    color: red;
    text-decoration: none;
}

.map{
    border: 8px solid #000;
    width: 95%;
    height: 50%;
}

/* Footer */
footer p{
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a{
    color: #fff;
    text-decoration: none;
}

/* Media query for tablet view port */
@media screen and (min-width: 630px), print{
    /* Tablet view port: show tablet-desktop and mobile only */
        .tablet-desktop{
            display: block;
        }
    
        .mobile{
            display: none;
        }
    
        /* Tablet viewport Style rule for header */
        header{
            position: static;
            padding-bottom: 2%;
        }
    
        /* Tablet viewport style rules for nav area */
        nav li{
            border-top: none;
            display: inline-block;
            border-right: 1px solid #fff;
        }
    
        nav li:last-child{
            border-right: none;
        }
    
        nav li a{
            padding: 0.1em 0.75em;
        }
    
        /* Tablet viewport for the main content area */
        main ul{
            margin-bottom: 4%;
            margin-left: 10%;
        }
        
        #exercises{
        clear: left;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        background: linear-gradient(to right, #ccc, #FFF);
        background-color: #f2f2f2;
        padding: 1% 2%;
        }
    
        #exercises dt{
            font-weight: bold;
        }
    
        #exercises dd{
            padding: 0.5% 1% 2% 0;
        }
    
        .tel-num{
            font-size: 1.25em;
        }
    
        .map{
            width: 600px;
            height: 450px;
        }
    }   /* End of tablet media query screen here */
    
    /* Media query for Desktop Viewport */
    @media screen and (min-width: 1015px), print{
        /* Desktop viewport: Style rule for header */
        header{
            width: 25%;
            float: left;
            padding-bottom: 0;
            background-color: #000;
            color: #4ECDC4;
        }
    
        /* Desktop viewport: style rules for nav area */
        nav{
            float: right;
            width: 70%;
            margin: 4em 1em 0 0;
        }
    
        nav ul{
            text-align: right;
        }
    
        nav li{
            border: none;
        }
    
        nav li a{
            padding: 0.5em 1em;
        }
    
        nav li a:hover{
            color: #000;
            background-color: #fff;
            border-radius: 10px;
        }
    
        /* Desktop viewport: Style rule for main */
        main{
            clear: left;
        }
    
        main h1{
            font-size: 1.8em;
        }
    
        #weights,#cardio,#training{
            width: 29%;
            float: left;
            margin: 0 2%;
        }
    
        #exercises{
            clear: left;
        }
    }